[Unit]
Description=Vosk Websocket Server 
After=network.target 
StartLimitIntervalSec=0 
	
[Service]  
Type=simple  
Restart=always  
RestartSec=1  
User=rosko  
ExecStart=/usr/bin/env python3.9 /home/rosko/.local/share/vosk/server.py 
	
[Install] 
WantedBy=multi-user.target
